.cartNavItem {
  position: relative;
}
.cartNavItem .count {
  font-size: 12px;
  width: 16px;
  height: 16px;
  top: -2px;
  right: -5px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .rightSide {
    flex-direction: column;
  }
}
